@font-face {
    font-family: Formation;
    src: url();
}
*{
    margin: 0px;
    text-decoration: none; /* None underline on links */
    color: inherit; /* No colored links */
}
    body {
	    margin: 0px;
	    background-color: #BFC3BA;
    }

    #menu {
        width: calc(100% - 100px);
        height: 65px;
        margin-left: 50px;
        background-color: #272727;
        font-size: 35px;
        text-align: center;
    }

    #menu a{
        color: #CBD4C2;   
    }
    
    #mainpictures {
        height: 1000px;
        width: 1000px;
        background-color: #000;
    }

    .links {
        font-size: 60px;
        text-align: center;
/*        background-color: #00ff3b;*/
    }

    .home {
        font-size: 44px;
/*        background-color: #f00;*/
        text-align: center;
    }

    #container {
        width: calc(100% - 100px);
        height: 600px;
        margin-left: 50px;
/*        background-color: #27a6f5;*/
    }

    #content {
        background-color: #CDDDDD;
        width: calc(100% - 100px);
        height: 250px;
        margin: auto;
        margin-top: 20px;
        border:1px solid black;
    }

    #footer {
        width: calc(100% - 100px);
        margin-left: 50px;
        background-color: #f00;
        height: 100px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
